.main {
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

.filter-params {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filter-params span {
    flex: 0 1 50%;
    margin-top: 10px;
    display: flex;
}

.filter-params span:nth-child(even) {
    justify-content: flex-end;
}

.filter-button {
    flex: 1 0 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px
}

.filter-button button {
    color: white;
    background: black;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    width: 300px;
}

@media only screen and (max-width: 690px) {
    .filter-button button {
        margin: 0 auto;
    }
}

input {
    width: 200px;
    border-radius: 3px;
    border: 1px solid black;
    box-sizing: border-box;
}

select {
    width: 200px;
    border-radius: 3px;
    border: 1px solid black;
}

.field label {
    width: 100px;
    font-weight: 600;
}

table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

.no-results {
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}