.main {
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    padding: 10px;
    font-size: 14px;
}

.filter-params {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filter-params span {
    flex: 0 1 50%;
    margin-top: 10px
}

.filter-params span:nth-child(even) {
    display: flex;
    justify-content: flex-end;
}

.filter-button {
    flex: 1 0 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px
}

.filter-button button {
    color: white;
    background: black;
    padding: 20px;
    border-radius: 3px;
    cursor: pointer;
}